.page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.messages-container {
    width: 100%;
    height: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

/* width */
.messages-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.messages-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.messages-container::-webkit-scrollbar-thumb {
    background: #E1E5F2;
}

/* Handle on hover */
.messages-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat-toolbar {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.dropdown {
    font-size: x-small;
    margin-right: 8px;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-button {
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid #33415C;
    background-color: #fff;
    color: #33415C;
    font-weight: bold;
    display: block;
}

.dropdown-button:nth-child(2) {
    margin-top: 8px;
}

.dropdown-button:hover {
    background-color: #33415C;
    color: #fff;
}

.dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 0;
}

.hidden {
    display: none;
}

.chat-button-reset {
    color: #a30000;
    background-color: #fff;
    border: 1px solid #a30000;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    font-family: 'Noto Sans', serif;
    font-size: x-small;
    font-weight: bold;
    border-radius: 15px;
}

.chat-button-reset:hover {
    background-color: #a30000;
    color: #fff;
}

.chat-footer {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.chat-input {
    width: 100%;
    padding: 16px;
    font-family: 'Noto Sans', serif;
    font-size: large;
    border: 3px solid #E1E5F2;
    outline: none;
    margin: 0 25px 0 0;
    border-radius: 15px;
    resize: none;
    scrollbar-width: none;
}

.chat-input:focus {
    border: 3px solid #ccc;
}

.chat-button {
    background-color: #1F7A8C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    font-family: 'Noto Sans', serif;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
}

.chat-button:disabled {
    background-color: #888;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0;
    cursor: not-allowed;
    font-family: 'Noto Sans', serif;
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
}

.message-user {
    align-self: flex-end;
    padding: 25px;
    margin: 5px 25px;
    background-color: #022B3A;
    border-radius: 15px 15px 0px 15px;
    color: #fff;
}

.bubble-assistant {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 5px 25px;
}

.message-assistant {
    padding: 25px;
    background-color: #E1E5F2;
    align-self: flex-start;
    border-radius: 15px 15px 15px 0px;
    margin: 0 0 0 10px;
    overflow-x: auto;
}

.message-assistant table {
    border-collapse: collapse;
    border-width: 0px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
}

.message-assistant table th,
.message-assistant table td {
    border-width: 0px;
    border-right: 1px solid #E1E5F2;
    padding: 5px;
    text-align: center;
}

.message-assistant table tr {
    border-width: 0px;
    border-bottom: 1px solid #E1E5F2;
}

.message-assistant code {
    background-color: #f1f1f1;
    color: darkred;
    padding: 2px;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: monospace;
}

.message-assistant var {
    color: darkblue;
    font-family: monospace;
    background-color: #f1f1f1;
    padding: 2px;
    border-radius: 5px;
    font-size: 1.1em;
    font-style: normal;
    font-weight: bold;
}

.message-assistant samp {
    color: darkgreen;
    font-family: monospace;
    background-color: #f1f1f1;
    padding: 2px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}