.page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.messages-container {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.chat-footer {
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.chat-input {
    width: 100%;
    padding: 16px;
    font-family: 'Montserrat', 'Montserrat Fallback';
    font-size: large;
    border: 3px solid #E1E5F2;
    outline: none;
    margin: 0 25px 0 0;
    font-weight: bold;
}

.chat-input:focus {
    border: 3px solid #ccc;
}

.chat-button {
    background-color: #1F7A8C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    font-family: 'Montserrat', 'Montserrat Fallback';
    font-size: large;
    font-weight: bold;
}

.message-user {
    align-self: flex-end;
    padding: 25px;
    margin: 5px 25px;
    background-color: #BFDBF7;
    border-radius: 15px 15px 0px 15px;
}

.message-assistant {
    padding: 25px;
    margin: 5px 25px;
    background-color: #E1E5F2;
    align-self: flex-start;
    border-radius: 15px 15px 15px 0px;
}