.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 25px 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    color: #0077b6;
}

.nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    margin: 0;
}

.header {
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    margin: 0 0 0 1rem;
    padding: 0;
}

.navbar-button {
    background-color: #1F7A8C;
    padding: 8px 16px;
    border-radius: 16px;
    border: 2px solid #1F7A8C;
    font-family: 'Noto Sans', serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    box-shadow: -6px 6px lightgray;
    -webkit-box-shadow: -6px 6px lightgray;
    -moz-box-shadow: -6px 6px lightgray;
}

.navbar-button:hover {
    background-color: #fff;
    color: #1F7A8C;
}

.navbar-button-a {
    color: #fff;
    background-color: #33415C;
    border-color: #33415C;
    margin: 0 1rem 0 0;
}

.navbar-button-a:hover {
    color: #33415C;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        position: static;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-section:nth-child(2) {
        margin-top: 15px;
    }

    .header {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }
}